<header class="d-flex flex-wrap align-items-center">
    <div class="left-header d-flex align-items-center">
        <button class="nav-button-toggle me-4">
            <i class="bi bi-list"></i>
        </button>
        <h3 class="ms-1">{{title}}</h3>
    </div>
    <div class="right-header ms-auto d-flex justify-content-evenly flex-wrap align-items-center gap-sm-2 gap-xl-4">
        <i class="bi bi-bell"></i>
        <div class="d-none d-md-block">
            <div class="search-bar d-flex align-items-center">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search anything...">
            </div>
        </div>
        <button class="log-out-btn btn btn-outline-danger d-flex align-items-center">
            <i class="bi bi-box-arrow-left"></i>
            <p class="mb-0 ms-3 d-none d-md-block">Se deconnecter</p>
        </button>
    </div>
</header>