@import "../../../../theme.scss";

section {
    position: sticky;
    top: 10px !important;
    z-index: 10;
    color: #000000;
    border-radius: 20px;
    background-color: $content-background;
    padding: 10px 30px;

    header {
        // border: 1px solid $grey-section;
    
        .left-header {
            .nav-button-toggle {
                display: none;
            }
        }
    
        .right-header {
            .search-bar {
                border-radius: 35px !important;
                background-color: #e8e7e4;
                border-radius: 10px;
                padding: 1px 15px;
        
                i {
                    color: #9ca3af;
                }
        
                input {
                    border: none;
                    outline: none;
                    background-color: #e8e7e4;
                    border-radius: 10px;
                    padding: 5px 10px;
                    width: 100%;
                }
            }
    
            .log-out-btn {
                border-radius: 20px;
                padding: 3px 10px;
                
                i {
                    font-size: large;
                }
    
                p {
                    font-size: small;
                }
            }
        }
    
    }
}

@media (max-width: 767.98px) {
    section {
        header {
            .left-header {
                .nav-button-toggle {
                    display: block;
                    border: 1px solid $grey-section;
                    border-radius: 50%;
                }
            }
    
            .right-header {
                .log-out-btn {
                    border-radius: 50%;
                }
            }
        }
    }
}