@import "../../../../theme.scss";

.content {
    background-color: $content-background;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
}

.notification {
    margin-bottom: 20px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 10px;
}

.info-message {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    border: 1px solid #bee5eb;
    border-radius: 4px;
    margin-bottom: 10px;
}

.verification-form {
    .result-stat {
        background-color: #fff;
        padding: 20px 20px 0 20px;
        border-radius: 15px;
        max-height: 200px;
        overflow-y: auto;
    }

    .result-details {
        background-color: #fff;
        border-radius: 20px 0 0 0;
        max-height: 275px;
        overflow-y: auto;
    }
}