<div class="side-bar d-none d-md-block">
    <nav class="d-flex flex-column align-items-center">
        <section class="logo-section">
            <img src="../../../../assets/logo.png" alt="VoteSync">
        </section>
        <ul class="nav nav-pills flex-column mt-3 nav-items w-100">
            @for (item of allItems(); track $index) {
                @if (item.isMenuTitle) {
                    <li class="menu-title">
                        <p>{{item.title}} : </p>
                    </li>
                } @else {
                    <li class="nav-item" routerLink="{{item.pathTo}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="{{item.icon}}"></i>
                        <p>{{item.content}}</p>
                    </li>
                }
            }
        </ul>
    </nav>
</div>