@import "../../../theme.scss";

.content {
    background-color: $content-background;
    
    .filter-button {
        width: -webkit-fill-available;
    }

    select {
        font-size: small;
    }

    .table-content {
        overflow-x: auto;

        tbody {
            font-size: small;
        }
    }
}
