<section class="card card-body content">
    <header class="d-flex align-items-center justify-content-between">
        <h5 class="text-primary">Liste et emplacement des bureaux de vote</h5>
        <button class="btn btn-outline-secondary d-flex align-items-center gap-2" (click)="assignOperators()">
            <i class="bi bi-gear"></i>
            <p class="m-0">Assigner les opérateurs</p>
        </button>
    </header>
    <div class="notification">
        <div class="error-message" *ngIf="error$ | async as error">
            <p class="m-0">{{ error }}</p>
        </div>
        <div class="info-message" *ngIf="message$ | async as message">
            <p class="m-0">{{ message }}</p>
        </div>
    </div>
    <div *ngIf="loading$ | async; else content" class="w-100 my-5 d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <ng-template #content>
        <div *ngIf="pollingStations.length != 0; else empty">
            <div class="table-content mt-4">
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <td>
                                <select class="form-select form-select-lg" [(ngModel)]="regionId" (change)="filterByRegion()">
                                    <option value="*">Toutes</option>
                                    <option *ngFor="let region of regions" value="{{region.id}}">{{ region.name | formatName }}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-lg" [(ngModel)]="districtId" (change)="filterByDistrict()">
                                    <option value="*">Tous</option>
                                    <option *ngFor="let district of districts" value="{{district.id}}">{{ district.name | formatName }}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-lg" [(ngModel)]="communeId" (change)="filterByCommune()">
                                    <option value="*">Toutes</option>
                                    <option *ngFor="let commune of communes" value="{{commune.id}}">{{ commune.name | formatName }}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select form-select-lg" [(ngModel)]="fokontanyId">
                                    <option value="*">Tous</option>
                                    <option *ngFor="let fk of fokontany" value="{{fk.id}}">{{ fk.name | formatName }}</option>
                                </select>
                            </td>
                            <td></td>
                            <td>
                                <button class="ms-1 btn btn-outline-primary d-flex gap-2 align-items-center w-100 justify-content-center" (click)="filter()">
                                    <span>Filtrer</span>
                                    <i class="bi bi-filter" style="font-size: medium;"></i>
                                </button>
                            </td>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col">Region</th>
                            <th scope="col">District</th>
                            <th scope="col">Commune</th>
                            <th scope="col">Fokontany</th>
                            <th scope="col">Bureau de vote</th>
                            <th scope="col">Opérateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pollingStation of pollingStations; index as i;">
                            <td>{{pollingStation.region | formatName}}</td>
                            <td>{{pollingStation.district | formatName}}</td>
                            <td>{{pollingStation.commune | formatName}}</td>
                            <td>{{pollingStation.fokontany | formatName}}</td>
                            <td>{{pollingStation.pollingStation | formatName}}</td>
                            <td>{{pollingStation.operatorName + ' ' + pollingStation.operatorFirstName}}</td>
                        </tr>
                    </tbody>
                </table>
                <footer class="mt-3 d-flex gap-3 justify-content-center align-items-center">
                    <i class="bi bi-arrow-left-circle" (click)="previousPage()"></i>
                    <p class="m-0 fw-lighter">Page <b><span class="text-primary fw-bold">{{page && page.number + 1}}</span></b> sur
                        {{page && page.totalPages}}</p>
                    <i class="bi bi-arrow-right-circle" (click)="nextPage()"></i>
                </footer>
            </div>
        </div>
        <ng-template #empty>
            <p class="m-0 text-center text-danger">Pas de résultat</p>
            <button class="btn btn-outline-primary mt-2" (click)="reinitialize()">Réinitialiser</button>
        </ng-template>
    </ng-template>  
</section>