@import "../../../theme.scss";

.content {
    background-color: $content-background;

    select {
        font-size: 12px;
        font-weight: 500;
    }

    .table-content {
        overflow-x: auto;

        tbody {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
