<app-progress-spinner
    [isLoading]="displayProgressSpinner"></app-progress-spinner>
<app-current-election-list
    [currentElections]="currentElections"
    [openAddDialog]="openElectionConfigurationDialog"
    [openEditDialog]="openElectionConfigurationEditDialog"
    [openDeleteDialog]="openDeleteDialog"
    [onClotureElection]="clotureElection"
    [onImportResults]="importResults"
    [routePathByElectionType]="routePathByElectionType"
    [errorMessage]="currentElectionError$ | async"
    [message]="currentElectionMessage$ | async">
</app-current-election-list>

<app-archive-election-list
    [electionHistory]="electionHistory"
    [isLoading]="electionHistoryLoading$ | async"
    [routePathByElectionType]="routePathByElectionType">
</app-archive-election-list>