<app-current-election-list
    [currentElections]="currentElections"
    [openAddDialog]="openElectionConfigurationDialog"
    [openEditDialog]="openElectionConfigurationEditDialog"
    [openDeleteDialog]="openDeleteDialog"
    [onClotureElection]="clotureElection"
    [onImportResults]="importResults"
    [routePathByElectionType]="routePathByElectionType"
>
</app-current-election-list>

<app-archive-election-list
    [electionHistory]="electionHistory"
    [routePathByElectionType]="routePathByElectionType"
>    
</app-archive-election-list>