<div class="d-flex flex-wrap flex-md-row-reverse mb-3 gap-2">
    <section class="card card-body stat">
        <app-users-stat
            [stats]="stats"
            [loading$]="loading$" 
        ></app-users-stat>
    </section>
    <section class="card card-body mt-sm-2 mt-lg-0 user-list">
        <app-list-users
            [userLists]="users"
            [page]="page"
            [pageSize]="pageSize"
            [loading$]="loading$" 
            [error$]="error$"
            [message$]="message$"
            [onCreateUser]="createNewUser"
            [onUpdateUser]="updateUser"
            [onDeleteUser]="deleteUser"
            [onImportUsers]="importUsers"
            [onFilter]="filterUsers"
            [onNextPage]="nextPage"
            [onPreviousPage]="previousPage"
        ></app-list-users>
    </section>
</div>