<div class="content card card-body">
    <header>
        <h5 class="text-primary text-center">Gestion des alertes</h5>
    </header>
    <section class="filter my-3 d-flex justify-content-center">
        <table classe="table table-borderless table-responsive">
            <thead>
                <tr>
                    <th class="col">Région</th>
                    <th class="col">District</th>
                    <th class="col">Commune</th>
                    <th class="col">Fokontany</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-select" id="region">
                            <option value="*">Toutes les régions</option>
                            <option>Analamanga</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" id="district">
                            <option value="*">Tous les districts</option>
                            <option>Antananarivo I</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" id="commune">
                            <option value="*">Toutes les communes</option>
                            <option>Antananarivo Avaradrano</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" id="fokontany">
                            <option value="*">Tous les fokontany</option>
                            <option>Anosipatrana</option>
                        </select>
                    </td>
                    <td class="px-1">
                        <button class="ms-1 btn btn-outline-primary d-flex gap-2 align-items-center">
                            <span>Filtrer</span>
                            <i class="bi bi-filter" style="font-size: medium;"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Liste des alertes -->
    <div class="alert-list">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Bureau de vote</th>
                    <th>Type</th>
                    <th>Déscription</th>
                    <th>État</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alert of alerts">
                    <td class="align-middle">
                        <b>{{ alert.pollingStation }}</b>
                    </td>
                    <td class="align-middle">
                        <p class="{{alert.alertType}} m-0 text-center">
                            {{ alert.type }}
                        </p>
                    </td>
                    <td class="align-middle">{{ alert.description }}</td>
                    <td class="align-middle">
                        <select [(ngModel)]="alert.state" class="form-select {{alert.bgState}} text-white">
                            <option value="en-attente">En Attente</option>
                            <option value="en-cours">En Cours</option>
                            <option value="resolue">Résolue</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer class="mt-3 mb-2 d-flex gap-3 justify-content-center align-items-center">
            <i class="bi bi-arrow-left-circle"></i>
            <p class="m-0 fw-lighter">Page <b><span class="text-primary fw-bold">1</span></b> sur 1</p>
            <i class="bi bi-arrow-right-circle"></i>
        </footer>
    </div>
</div>