@import "../../../theme.scss";

.content {
    background-color: $content-background;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
}

.alert-list {
    overflow-x: auto;
}

.suspect {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0ad4e;
    color: white;
}

.alert-2 {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #5bc0de;
    color: white;
}

.bg-0 {
    background-color: #ffc107;
}

.bg-10 {
    background-color: #0dcaf0;
}

.bg-20 {
    background-color: $primary;
}

tbody {
    font-size: 15px;
}