<section class="row">
<section class="board card card-content p-1">
    	<div
      		style="height: 200px; width: 100%; border-radius: 16px;"
      		class="col-md-6 px-2"
      		leaflet
      		[leafletOptions]="options"
      		[leafletLayersControl]="layersControl"
      		[leafletLayers]="geojsonLayers"
    	></div>
</section>
</section>
<section class="row">
    <section class="col-md-6 px-1 py-2">
        <div class="board card card-content">
            <canvas
            class="w-100"
            baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'"
            ></canvas>
        </div>
    </section>
    <section class="col-md-6 px-1 py-2">
        <div class="board card card-content">
          <canvas
            class="w-100"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
          ></canvas>
        </div>
    </section>
</section>
