<div class="map-container card card-body">
    <header class="d-flex align-items-center justify-content-start gap-3 mb-3">
        <h6 class="mb-0">Division:</h6>
        <select class="form-select form-select-sm w-auto" [(ngModel)]="currentDivisionId" (change)="getAdministrativeDivisionStats()">
            <option *ngFor="let division of divisions; index as i;" value="{{i}}">{{division.label}}</option>
        </select>
        <h6 class="mb-0 ms-3">Election:</h6>
        <select class="form-select form-select-sm w-auto" [(ngModel)]="electionTypeId" (change)="getAdministrativeDivisionStats()">
            <option *ngFor="let type of electionTypes" value="{{ type.value }}">{{ type.name }}</option>
        </select>
    </header>
    <div
        style="height: 225px; width: 100%; border-radius: 12px;"
        leaflet
        [leafletOptions]="options"
        [leafletLayers]="geojsonLayers"
    ></div>
</div>
<div class="voters-stat">
    <section class="row">
        <section class="stat col-md-6 py-2" style="padding-right: 5px;">
            <div class="board card card-content">
                <app-voters-stat
                    [votersStats]="votersStats"
                ></app-voters-stat>
            </div>
        </section>
        <section class="col-md-6 py-2" style="padding-left: 5px;">
            <div class="board card card-content">
                <app-voters-repartition-stat
                [votersStats]="votersStats"
                ></app-voters-repartition-stat>
            </div>
        </section>
    </section>
</div>