@import "../../../../../theme.scss";

h5 {
    color: $primary;
}

.content {
    background-color: $content-background;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    button {
        border-radius: 50%;
    }
}

.add-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.item:hover {
    background-color: #f1f1f1;
}

.details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.list-type {
    display: flex;
    align-items: center;
    background-color: $grey-section;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: $primary;
}

.list-column {
    display: flex;
    align-items: center;
    background-color: $grey-section;
    padding: 5px 10px;
    border-radius: 4px;
}

.in-progress {
    display: flex;
    align-items: center;
    background-color: #f0ad4e;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
}

.item-action i:hover {
    cursor: pointer;
}

.details .btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}