@import "../../../theme.scss";

$nav-width: 310px;

.app {
    background-color: $neutral-background;

    .side-bar {
        background-color: $primary;
        height: 100vh;
    }

    .content-holder {
        width: -webkit-fill-available;
        margin: 10px 20px 0px 20px;
    }
}