<section class="card card-body mb-4">
    <header class="d-flex flex-wrap align-items-center gap-1">
        <div class="left-header d-flex align-items-center">
            <button class="nav-button-toggle me-4">
                <i class="bi bi-list"></i>
            </button>
            <h4 class="m-0 ms-auto text-primary">{{pageTitle}}</h4>
        </div>
        <div class="right-header ms-auto d-flex justify-content-evenly flex-wrap align-items-center gap-sm-2 gap-md-4">
            <div class="position-relative">
                <i class="bi bi-bell me-2"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" routerLink="{{alertsPath}}">
                    1
                    <span class="visually-hidden">alertes</span>
                </span>
            </div>
            <div class="user-info ms-auto d-flex align-items-center">
                <i class="bi bi-person-circle me-3"></i>
                <div>
                    <p class="mb-0"><b>{{ userInformation }}</b></p>
                    <p class="mb-0" style="font-size: small; color: rgb(165, 165, 165);">{{ userAuthority ?? '' | formatRole }}</p>
                </div>
            </div>
            <button class="log-out-btn btn btn-outline-danger d-flex justify-content-center align-items-center" (click)="logOut()">
                <i class="bi bi-box-arrow-left"></i>
                <p class="mb-0 ms-3 d-none d-md-block">Se deconnecter</p>
            </button>
        </div>
    </header>
</section>