@import "../../../../../theme.scss";

section {
    position: sticky;
    top: 10px !important;
    z-index: 1000;
    color: #000000;
    border-radius: 20px;
    background-color: $content-background;
    padding: 10px 30px;

    header {
        .left-header {
            .nav-button-toggle {
                display: none;
            }
        }
    
        .right-header {    
            .log-out-btn {
                border-radius: 20px;
                padding: 3px 10px;
                
                i {
                    font-size: large;
                }
    
                p {
                    font-size: small;
                }
            }

        }
    
    }
}

@media (max-width: 767.98px) {
    section {
        header {
            .left-header {
                .nav-button-toggle {
                    display: block;
                    border: 1px solid $grey-section;
                    border-radius: 50%;
                }
            }
    
            .right-header {
                .log-out-btn {
                    border-radius: 50%;
                }
            }
        }
    }
}