// Bootstrap override
$primary: #29611D;
$danger: #D32F2F;

$neutral-background: #F4F3EF;
$grey-section: #E0E0E0;
$content-background: #F7F7F7;

// Vert principal (utilisé dans l'authentification): #29611D
// Vert clair (pour hover sur les boutons ou les éléments actifs): #388E3C
// Beige clair (pour un arrière-plan doux et neutre): #F4F3EF
// Gris clair (pour les bordures ou les arrière-plans de sections): #E0E0E0
// Blanc pur (pour les textes sur les boutons ou les éléments sombres): #FFFFFF
// Gris foncé (pour les textes sur des arrière-plans clairs): #4B4B4B
// Jaune doré (pour des accents ou des alertes): #FFD700