@import "../../../../theme.scss";

.content {
    // padding: 20px;
    border-radius: 20px;
    background-color: $content-background;

    header {
        h5 {
            color: $primary;
        }

        .action-section {
            button {
                border-radius: 50%;
            }
        }
    }

    footer {
        i {
            color: $primary;
        }
    }
}