@import "../../../../theme.scss";

h5 {
    color: $primary;
}

header {
    .action-section {
        button {
            border-radius: 50%;
        }
    }
}

.table-content {
    overflow-x: auto;
}

footer {
    i {
        color: $primary;
    }
}